body{
    
    background-color: white;
}

#json, h4{
    
    float:left;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 5em;
       color: whitesmoke;
  
    text-align: center;
    position:relative;
    top:3vh;
}

h2{
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    text-align: center;
   color: rgb(230,230,230);

    position: relative;
    top: -4vh;
}

header{
    width: 100%;
    background-color: firebrick;
    height: 20vh;
}
table, th, td {
    border-bottom: 1px solid grey;
}

tr:hover {background-color:#f5f5f5;}

th{
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: indianred;
    color: white;
}

th, td{
    text-align: center
    border: 1px solid #ddd;
    padding: 8px;
}
img {
    background: red;
    width: 50%;
    float: left;
    position: relative;
    left: 2vw;
}
table{
    position: relative;
    left: 5vw;
    top: 5vh;
}
