

body{
    
    background-color: white;
}


#hed1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    color: whitesmoke;
  
    text-align: center;
    position:relative;
    top:3vh;
    
}

h2{
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(230,230,230);

    position: relative;
    top: -1vh;
}

#hed3{
    font-family: 'Muli', sans-serif;
    font-size: 2em;    
    position: relative;

    
}

header{
    width: 100%;
    background-color:royalblue;
    height: 20vh;
    top: 0vh;
}

table, th, td {
    border-bottom: 1px solid grey;
}


 .active, .collapsible:hover {
    background-color: cornflowerblue;
    }

 .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
        
    }

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

    .content {
    padding: 0 18px;
    width: 47.5%;
    max-height: 0;
    overflow: hidden;
/*    transition: max-height 0.2s ease-out;*/
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif
    }

img {
    background: red;
    width: 50%;
    position:absolute;
    left: 50vw;
}


ul {
    list-style-type:square; 
    line-height: 2;
}

#he1 {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    left: 2vw;
    top: 32vh;
    width: 15%;
    
}

nav {
    color: red;
    height: 5vh;
    background-color:cornflowerblue;
}

href {
    
}

a {
    line-height: 3;
    text-align: center;
    background-color: cornflowerblue;
    height: 5vh;
    width: 24.75vw;
    display: block;
    float: left;
    text-decoration: none;
    color: white;
    font-family: "montserrat";
}
a:hover {
    animation-duration: 0.2s;
    background-color: midnightblue;
}